
.header_container{
    top: 0px;
}

.about_container{
    margin-top: 120px;
    padding:0% 10% 0% 3%;
}

.author-profile{
    display: flex;
    align-items: center;
    justify-content: end;
    gap:15px;
    margin-bottom: 10px;
}

.image-profile{
width: 50px;
border-radius: 100%;
}

.text-profile{
    font-style: italic;
    font-size: small;
    font-weight:200;
}

.title-about{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 0px;
    font-weight: 500;
    font-size: medium;
}

.paragraph-about{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    padding-bottom:5px;
}



