/*MIDIA QUERIES*/

/*LARGE SCREENS - SINCE: 1100px */

@media (min-width:1025px){
    html{
        min-width:1025px;
    }
     button.open_menu, button.close_menu{
        display: none;
    }
}

/*Tablets SCREENS - SINCE: 740px */

@media(min-width:740px) and (max-width:1024px){
    html{
        min-width:850px;
    }

    .container .navbar{
        margin-left:5%;
        margin-right:5%;
        padding-left:5%;
        padding-right:5%;
    }
     button.open_menu, button.close_menu{
        display: none;
    }

    .products .prod_conteiner{
        display: flex;
        flex-flow: column wrap;
    }

    .imagem_galeria{
        max-width:70%;
        width:70%;
       }
}


/*MOBILE*/

@media(max-width:739.99px){


    /*HEADER*/

    .container .header_container{
        align-items: center;
        position: fixed;
        width: -webkit-fill-available;
    }

    .container .header_container .info{
        display: none;
    }

    .header_container .logo span{
        display: inline-block;
        font-size:25px;
        padding: 0px 0px 20px 0px;
        margin-top:1px;
    }

    /*IMAGE-CARROSSEL*/
    .main_container{
        overflow-x: hidden;
    }
    .main_container .carrossel-img{
        object-fit:contain;
        width: 110vw;
    }


    /*NAVBAR*/
    .container nav .navbar{
        display: none;
        position:fixed;
        left: -12vw;
        top: -1vh;
        min-width: 400px;
        width:100vw;
        height: 74vh;
        text-align: center;
        background-color: #494949d0;
        color: #FFFFFF;
        z-index: 500000;  
    }

    .navbar li, .navbar li a{
        color: #FFFFFF;
        background-color: #49494900;
        padding: 10%;
    }

    .close_menu{
        position: relative;
        width: 60px;
        height: 60px;
        left:50%;
        font-size: 18px;
    }

    .open_menu{
        position: relative;
        margin-top: 2%;
        left: 40%;
        width: 50px;
        height: 50px;
        font-size: 18px;
    }

    /*CATEGORIES*/

    .main_container{
        padding-top: 20%;
    }

   .main_container .category{
    display: flex;
    flex-flow: column wrap;
    padding:0px;
    }

    .category .categ-box{
        margin-bottom: 5%;
    }

    .products .prod_conteiner{
        display: flex;
        flex-flow: column wrap;
    }

    .prod_conteiner .prod_box{
        margin-bottom: 5%;
    }

    /*Galeria*/
    .imagem_galeria{
      max-width:340px;
      width:340px;
     }
    
    /*Buttons*/
    .flex-button{
        display: flex;
    }
    
    /*FOOTER*/
    footer{
        display:block;
    }

    .address{
        display: none;
    }

    footer h1.logo{font-size: .8em; font-family: 'iDroid', monospace; text-align: center;}

    footer .icons{
        justify-content: center;
        margin: 0;
    }
    /*ABOUT-PAGE*/
    .author-profile{
        justify-content: center;
    }
    .paragraph-about{
        text-align: left;
        padding-bottom: 5px;
    }
    
}
